<div class="row  pt-2" style="padding-bottom: 0px;">
  <div class="col">
    <%= f.input :title, class:'form-control', placeholder:'Ajouter un titre', label: false %>
    <%= f.input :description, class:"form-control", placeholder:'Ajouter une diesciption', label: false  %>
    
  </div>
  <div class="col ">
    <div class="input-group input-group-sm justify-content-end">
      <%= f.input :price, :placeholder => 'Ajouter un prix', required: true, label: false, class:"form-control" %>
      <span class="input-group-text ">.00</span>
      <span class="input-group-text ">€</span>
      

    </div>
  </div>
</div>
<hr style="color: #b6b6b6;">