
<div class="nested-fields">
  <div>
    <%= f.hidden_field :invoice_id, :value => @invoice.id, class: 'form-control' %>
    
  </div>
  <div class="products">
    <%= f.simple_fields_for :product do |product| %>
    <%= render "product_fields", f: product %>
  <% end %>
  </div>
  <%= link_to_remove_association "supprimer la mission", f, class:"p-option text-danger" %>
</div>
