<div class="container">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-8 text-center">
      <h1>Bievenue sur devis.com</h1>
      <p><%= link_to "Se connecter", new_user_session_path %></p>
    </div>
  </div>
</div>
