<div class="container">
  <div class="row justify-content-center p-5">
    <div class="card col-6">
      <div class="card-header">
        <h5>Ajouter un nouveau client</h5>
      </div>
      <div class="card-body">
      <%= render 'selections/test_new' %>
      </div>
      <div class="card-footer">
        back
      </div>
    </div>
  </div>
</div>
